#nav {
  background: rgba(54, 54, 54, 0.8);
  height: 50px;
  display: flex;
  align-self: baseline;
  width: 100vw ;

}

#prev {
  background-color: transparent;
  font-size: 35px;
  height: 50px;
  color: yellow;
  font-family: "Underdog, cursive";

}

#next {
  background-color: transparent;
  font-size: 35px;
  height: 50px;
  color: yellow;
  font-family: "Underdog, cursive";

}
